<footer class="py-4 mt-5 border-top">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div class="footer-muted">&copy; {{ site.time | date: "%Y" }} {{ site.title }}</div>
            <div class="footer-muted">Built with <a href="https://github.com/khan-lab/seminar-website-template">Seminar Website Template</a> (v{{ site.version }}) by <a href="https://khanlab.bio"> Khan Lab </a></div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
